@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
	background: gray;
	font-family: 'Roboto', sans-serif;
	display: flex;
	justify-content: center;
}

a {
	text-decoration: none;
	color: black;
}

small {
	color: red;
	margin-top: 5px;
}

.container {
	margin-top: 50px;
	margin-bottom: 50px;
	position: relative;
	background-color: white;
	width: auto;
	min-width: 300px;
	max-width: 1200px;
	height: 100%;
	min-height: 270px;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: -8px 10px 14px -4px rgba(0,0,0,0.75);
	padding: 5px;
}

.container form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.input-content, .input-arquivo {
	display: flex;
	flex-direction: column;
}

.input-content label, .input-arquivo label {
	margin-bottom: 5px;
}

.input-content input {
	width: 180px;
	height: 20px;
	border: none;
	border-bottom: 2px solid black;
	margin-bottom: 10px;
}

.input-content input:focus {
	outline: none;
}

.input-arquivo input {
	border: none;	
	height: 25px;
}

#btn-sair {
	width: 20px;
	height: 20px;
	background-color:  #e22424;
	position: absolute;
	top: 5px;
	right: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	transition: .5s;
}

.btn-content {
	display: flex;
	margin-bottom: 20px;
}

.btn-content button {
	margin-right: 5px;
}

.btn {
	width: 170px;
	height: 40px;
	border: none;
	cursor: pointer;
	font-size: 16px;
	transition: .5s;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
}

.btn-small {
	width: 60px;
	height: 30px;
}

.btn-middle {
	width: 90px;
	height: 30px;
}

.btn-square {
	width: 30px;
	height: 30px;
}

.btn-green {
	background-color: #25c013;
}

.btn-green:hover {
	background-color: #209d11;
}

.btn-blue {
	background-color: #00ceff;
}

.btn-blue:hover {
	background-color: #009fff;
}

.btn-red {
	background-color: #e22424;
}

.btn-red:hover {
	background-color: #bf0000;
}

.btn-yellow {
	background-color: #f6dc08;
}

.btn-yellow:hover {
	background-color: #bdc11e;
}

/* tabela */
table {
	border-collapse: collapse;
}

#table-container {
    overflow-x: auto;
    width: 100%;
}

.table-content {
    width: 100%;
}

.table-content thead tr {
    background-color: #808080;
    font-weight: bold;
}

.table-content thead tr th:last-child a {
    margin: auto;
}

.table-content th,
.table-content td {
    padding: 10px;
}

.table-content tbody tr:nth-of-type(odd) {
    background-color: #fff;
}

.table-content tbody tr:nth-of-type(even) {
    background-color: #e6e6fa;
}

.table-content tbody tr td:nth-child(6),
.table-content tbody tr td:nth-child(6) a {
	text-align: center;
	margin: auto;
}

@media(min-width: 992px) {
	.input-container {
		display: flex;
		padding: 10px;
	}
	
	.input-content input {
		width: 250px;
	}
	
	.input-left-content {
		margin-right: 10px;
	}
}


